.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

mat-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}