<div class="construction-container">
    <mat-card class="construction-card">
      <mat-card-content>
        <div class="icon-container">
          <mat-icon class="construction-icon">construction</mat-icon>
          <mat-icon class="gear-icon rotating">settings</mat-icon>
        </div>
        
        <h1>Under Construction</h1>
        <p>We're working hard to bring you something amazing!</p>
        <p class="subtitle">This page is currently under development.</p>
        
        <button mat-raised-button color="primary" (click)="goHome()">
          <mat-icon>home</mat-icon>
          Go to Homepage
        </button>
      </mat-card-content>
    </mat-card>
  </div>